<table border="1">
  <tr>
    <th>System Call</th>
    <th>C</th>
    <th>Java</th>
    <th>bash</th>
  </tr>
  <tr>
    <td>aaaa</td>
    <td>-</td>
    <td>4</td>
    <td>2</td>
  </tr>
  <tr>
    <td>bbbb</td>
    <td>75</td>
    <td>14</td>
    <td>-</td>
  </tr>
  <tr><td>...</td><td>...</td><td>...</td></tr>
</table>

